body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}

.mx-auto {
	width: 90% !important;
}


footer {
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	height: 50px;
  	width: 100%;
  	text-align: center;
}