body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}

.mx-auto {
	width: 90% !important;
}

.pre-footer {
	margin-top: 70px !important;	
}

footer {
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	height: 5%;
  	width: 100%;
  	text-align: center;
  	background-color: #FFFFFF;
}

.card-info {
    overflow:hidden;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.card-info .card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-info .card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}